<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap" rel="stylesheet" >
    
    <link rel="stylesheet" href="/css/styles.css" type="text/css">

    <title>Blog</title>
</head>
<body>

    <!-- navbar -->
    <div style="display: flex; justify-content:center;">
        <nav style="display: flex; justify-content:center">
            <a href="/" style="text-decoration: none;">
                <img src="/images/icono.png" height="50px" width="50px"> Pokenews
            </a>
            <a href="/editor" style="text-decoration: none;">Crea un blog</a> 
            <a href="/news" style="text-decoration: none;">Noticias</a>
            <a href="/contact" style="text-decoration: none;">Contacto</a>
            <a href="/about" style="text-decoration: none;">Nosotros</a>
            <div class="animation start-pokenews" ></div>
        </nav>
    </div>

    <!-- carousel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/images/icono.png" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Cuidados de tus pokebolas</h5>
                <p>Enterate de las últimas novedades sobre el cuidado de las pokebolas y sus mejores usos.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/images/bulbasur.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>Tips de comida</h5>
                <p>Los mejores consejos para la alimentación de tu bulbasour.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/images/torneo.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>El campo esta que arde</h5>
                <p>Semifinal del torneo de verano, los clasificados no pueden esperar por enfrentarse cara a cara.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- cards -->
    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="/images/datocurioso1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">El Pokémon más feo y el más bonito</h5>
            <p class="card-text">Según la propia Pokédex el Pokémon más feo de todas las criaturas del juego sería Feebas. Por el contrario, el Pokémon que es reconocido como el más hermoso es la propia evolución de Feebas, Milotic. </p>
            <p class="card-text"><small class="text-mute">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/evoluciones.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Dato de las evoluciones</h5>
            <p class="card-text">Aunque la mayoría de los Pokémon tienen al menos una evolución disponible, también existen Pokémon sin cadena evolutiva.</p>
            <p class="card-text"><small class="text-mute">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="/images/arbok.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Arbok tiene seis patrones diferentes</h5>
            <p class="card-text">Los patrones que Arbok presenta en el pecho varían dependiendo de en qué región se encuentre. Por ahora se han confirmado seis variedades de acuerdo a la Pokédex, aunque en ciertas ocasiones han aparecido más e incluso se muestra cómo Arbok es capaz de modificar dicho patrón a voluntad.</p>
            <p class="card-text"><small class="text-mute">Last updated 3 mins ago</small></p>
          </div>
        </div>
    </div>

    <!-- Body -->
    <div class="row g-5">
      <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
        </h3>
        <article class="blog-post">
          <h2 class="blog-post-title mb-1">Torno de verano, ¿En qué consiste?.</h2>
          <p class="blog-post-meta">Octubre 23, 2022 por <a href="#">Daniel</a></p>
  
          <p>Muchas de las personas no saben en que consiste este gran torneo, no comprenden la importancia y lo genial que es el participar de entrenados, o de expectador, es por ello que se lo explicaremos.</p>
          <hr>
          <p>Para entender lo impactante del torneo, debemos de empezar con como comienza todo el proceso, cualquiera puede participar. Se hacen peleas pequeñas donde los participantes se van eliminando uno por uno, no son grandes las peleas, pero ayudan a saber que tan habiles son los entrenadores.</p>
          <p>Después se clasifican 16 entrenadores Pokemon, los cuales se enfrentan de poco a poco, la manera en la que los entrenadores van descalificandose es por evaluación de puntos y eliminación de pokemones. Si los dos entremadores en cuestion tienen aún todos sus pokemones, los jueces deciden por medio de puntos.</p>
          <p>Los puntos se dan por habilidad, número de pokemones y jugadas.</p>
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
          </h3>
        </article>
  
        <article class="blog-post">
          <h2 class="blog-post-title mb-1">Todo sobre la alimentación de los pokemones</h2>
          <p class="blog-post-meta">Octubre 24, 2022 por <a href="#">Max</a></p>
  
          <p>En el mundo Pokémon, con los Pokémon, sucede igual, y su alimentación varía desde pokécubos y pokochos hasta bayas e, incluso, otros Pokémon. Además, en el caso de Feebas, es necesario que coma para evolucionar; es un caso único.</p>
          <p>Dentro de esta categoría se enmarca la comida fabricada directamente para el consumo de los Pokémon. Es comida tanto producida en una fábrica, como comida artesanal cocinada por el propio entrenador. Constituye casi toda la dieta de los Pokémon domésticos, los que tiene un entrenador.</p>
          <p>Los pokécubos son fabricados a partir de 30 tipos de bayas, tienen diversas funciones. Los pokochos (o "poffins") son panecillos hechos únicamente para los Pokémon, que cumplen las misma función que los Pokécubos. Se diferencian principalmente en su preparación, aunque los ingredientes son los mismos (bayas).</p>
          <p>La bongurchata se hace con bonguri, y se fabrica haciendo un batido con los jugos de estos frutos. Son el equivalente a los pokochos y los pokécubos en Johto, pero en este caso lo que aumenta son las estadísticas del Pokémon para participar en el Pokéathlon.</p>
          <p>Los pokélitos son pequeños pasteles con los que se alimenta a los Pokémon en el Poké Recreo para aumentar sus corazones o su afecto al entrenador. Tienen distintos colores según su sabor, puramente estético. Pueden presentar diferentes niveles simbolizados con mayor grado de decoración.</p>
        </article>
        <article class="blog-post">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
          </h3>
          <h2 class="blog-post-title mb-1">Cosmoem es realmente denso</h2>
          <p class="blog-post-meta">Octubre 25, 2022 por <a href="#">Daniel</a></p> 
          <p>De acuerdo a la Pokédex, Cosmoem tiene una altura de tan solo 0.1 metros, aunque pese 999,9 kilogramos. Como resultado, Cosmoem se agrupa junto a Joltik, Flabébé, Cutiefly y Comfey como el Pokémon más pequeño, y junto a Celesteela como el Pokémon más pesado.</p>
          <p>La razón por la que Cosmoem es tan pesado a pesar de ser tan diminuto es porque está basado en una protoestrella, que es una estrella joven, increíblemente densa, con una gigantesca cantidad de masa apretada en un espacio pequeño.</p>
        </article>
  
      </div>
  
      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 rounded">
            <h4 class="fst-italic">Sobre nosotros</h4>
            <p class="mb-0">Nuestro blog esta enfocado en noticias, datos e investigaciones, el proposito de esto es hacer llegar la información más reciente e importante sobre los pokemones.</p>
          </div>
  
          <div class="p-4">
            <h4 class="fst-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#">March 2021</a></li>
              <li><a href="#">February 2021</a></li>
              <li><a href="#">January 2021</a></li>
              <li><a href="#">December 2020</a></li>
              <li><a href="#">November 2020</a></li>
              <li><a href="#">October 2020</a></li>
              <li><a href="#">September 2020</a></li>
              <li><a href="#">August 2020</a></li>
              <li><a href="#">July 2020</a></li>
              <li><a href="#">June 2020</a></li>
              <li><a href="#">May 2020</a></li>
              <li><a href="#">April 2020</a></li>
            </ol>
          </div>
  
          <div class="p-4">
            <h4 class="fst-italic">Contacto</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    


<!-- blogs section -->
    <section class="blogs-section">
            
    </section>
    <!-- Footer -->
    <footer>
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
              <img src="/images/icono.png" width="30" height="30">
            </a>
            <span class="mb-3 mb-md-0 text-muted">&copy; 2022 Company, Inc</span>
          </div>
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#"><img src="/images/facebook.png" width="24" height="24"></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><img src="/images/instagram.png" width="24" height="24"></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><img src="/images/twitter.png" width="24" height="24"></a></li>
          </ul>
        </footer>
        
    </footer>
    
  
     <!-- firebase links -->
<script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-firestore-compat.js"></script>

<script src="js/firebase.js"></script>
<script src="js/index.js"></script>


    <!-- JavaScript Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>