:root{
    --fuentePrincipal: 'Noto Serif', serif;
    --rojo: #fa4753;
    --negro: #17181C;
    --blanco:#FFF;
    --azulGrisaseo: #9BA5C9;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before,*:after{
    box-sizing: inherit;
}

/* Globales */
body{
    color:var(--blanco); 
    font-size: 2.1rem;
    background-color: var(--negro);
    margin:2.5rem
}
.img{
    display: flex;
    justify-content: center;
    max-width: 100%;
}


/*Titulo*/
.titulo{
    display: flex;
    justify-content: center;
    margin:0 0 1.5rem 0;
    font-weight: bold;
    font-size: 4rem;
    background-color: var(--rojo);
}

/*Textos*/
.h3{
    display:flex;
    justify-content: center;
    margin: 1.75rem;
    padding: 2.3rem;
}
.h3_text{
    text-align: center;
}

/*Navegacion*/
.nav{
    display:flex;
    justify-content: center;
    gap:3rem;
    background-color: var(--azulGrisaseo);
    margin:0 0 1.5rem 0;
} 
.navA{
    text-decoration: none;
    font-size: 3.7rem;
}

/* Noticias */
.noticia{
    display: grid;
    text-align: center;
    margin: 1rem;

}
.noticia_titulo{
    font-size: 4.5rem;
    font-weight: bold;
    margin: 2.5rem;
}
.noticia_texto{
    font-size: 2.5rem;
    margin: 2.5rem;     
}