:root{
    --fuentePrincipal: 'Noto Serif', serif;
    --rojo: #fa4753;
    --negro: #17181C;
    --blanco:#FFF;
    --azulGrisaseo: #9BA5C9;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before,*:after{
    box-sizing: inherit;
}

/* Globales */
body{
    color:var(--blanco); 
    font-size: 12px;
    background-color: var(--negro);
    margin:2.5rem;
    background:#2c3e50 ;
    font-family: sans-serif;
}
.img{
    display: flex;
    justify-content: center;
    max-width: 100%;
}


/*Titulo*/
.titulo{
    display: flex;
    justify-content: center;
    margin:0 0 1.5rem 0;
    font-weight: bold;
    font-size: 4rem;
    background-color: var(--rojo);
}

/*Textos*/
.h3{
    display:flex;
    justify-content: center;
    margin: 1.75rem;
    padding: 2.3rem;
}
.h3_text{
    text-align: center;
}

/* Navbar */


nav{
    margin: 27px auto 0;
    position: relative;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;

}
nav a{
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}
    
a:nth-child(1){
    width: 160px;
}
a:nth-child(2){
    width: 100px;
}
a:nth-child(3){
    width: 100px;
}
a:nth-child(4){
    width: 120px;
}
a:nth-child(5){
    width: 110px;
}
nav .start-pokenews, a:nth-child(1):hover~.animation{
    width: 160px;
    left: 0;
    background-color: #1abc9c;
}
nav .start-blog, a:nth-child(2):hover~.animation{
    width: 100px;
    left: 160px;
    background-color: #3498db;
}
nav .start-noticias,a:nth-child(3):hover~.animation{
    width: 100px;
    left: 260px;
    background-color: #9b59b6;
}
nav .start-contacto, a:nth-child(4):hover~.animation{
    width: 120px;
    left: 360px;
    background-color: #e67e22;
}
nav .start-nosotros, a:nth-child(5):hover~.animation{
    width: 110px;
    left: 480px;
    background-color: #e74c3c;
}
span{
    color: #2BD6B4;
}


/* cards */
.card-deck{
    margin-top: 100px;
}

.card{
    background-color: #56799C;
    width: 260px;
    height: 460px;
}

.card-title{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.card-text{
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.text-mute{
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    color: #79AADB;
}

.card-img-top{
    width: auto;
    height: 300px;
}

/* Carousel */
.carousel{
    margin-top: 50px;
    width: 96%;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    height: 620px;
}
.carousel-item{
    width: 100%;
    height: 620px;
}
.w-100{
    height: auto;
    width: 100%
}

h5{
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

p{
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 15px;
}

/* footer */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

/* Body */

.g-5{
    margin-top: 50px;
}

.rounded{
    background-color: #32475C;
}